<footer>
  <div class="container footer-container">
    <div class="row">
      {{ range ((where .Site.Pages "Section" "footer").ByParam "rank") }}
       {{ if .Params.Link }}
          <div class="col">
            <a
              class="footer-link"
              href="{{ .Params.link }}"
              aria-label="{{ .Params.id }}"
              id="{{ .Params.id }}"
              target="_blank"
            >
              {{ .Params.icon | safeHTML }}
            </a>
          </div>
        {{ end }}
      {{ end }}
    </div>
    <p class="footer-text">Club evenings every Tuesday, 6pm, room SI011.</p>
  </div>
</footer>
