<section class="front upmost">
  <div class="container small-container">
    <div class="section-header">
      <h1>castor</h1>
      <h2>space technology club</h2>
        <h2>tampere university</h2>
    </div>
    <div class="front-container-text">
      <h3>{{ .Params.headline_1 }}</h3>
      <p>{{ .Params.chapter_1 | markdownify }}</p>
    </div>
      {{ range .Params.segments }}
        <div class="row front-segment-container">
          <div class="col-md-3 front-segment-icon-container">
            {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" .image ) }}
            <img class="front-segment-icon" src="{{ $imageResource.RelPermalink }}" aria-hidden="true"/>
          </div>
          <div class="col-md-9 font-segment-text">
            <div>
              <h3>{{ .title }}</h3>
              <p>{{ .description | markdownify }}</p>
            </div>
          </div>
        </div>
    {{ end }}
  </div>
</section>
<section class="collaboration last">
  <h2>in collaboration with</h2>
  {{ range .Params.sponsors }}
  <p class="sponsor">{{ .name }}</p>
  {{ end }}
</section>
