<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">

    <meta property="og:title" content="Space technology club Castor - {{ .Params.title }}" />
    <meta property="og:url" content="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}{{ .Permalink }}" />
    <meta property="og:image" content="/img/background.jpg">

    {{ if .Params.description }}
    <meta name="description" content="{{ .Params.description }}">
    <meta property="og:description" content="{{ .Params.description }}">
    {{ else }}
    <meta name="description" content="{{ replace .Summary "\n" " " }}">
    <meta property="og:description" content="{{ replace .Summary "\n" " " }}">
    {{ end }}

    <meta name="referrer" content="no-referrer">
    <link rel="canonical" href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}{{ .Permalink }}"/>

    <title>Space technology club Castor - {{ .Params.title }}</title>

    <link rel="icon" href="/favicon.ico"/>
    <link rel='mask-icon' href='img/favicons/brain-dark.svg' color='#FF530D'>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="img/favicons/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="img/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="img/favicons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="img/favicons/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="img/favicons/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="Castor"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="img/favicons/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="img/favicons/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="img/favicons/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="img/favicons/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="img/favicons/mstile-310x310.png" />

    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Montserrat" rel="stylesheet">

    {{ $stylesheet := .Site.Data.webpack.main }}
    {{ with $stylesheet.css }}
      <link href="{{ relURL . }}" rel="stylesheet">
    {{ end }}

    <!-- Hotjar Tracking Code for https://avaruuskerho.fi -->
    <script>
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1293366,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

  </head>
  <body style="background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 0%,rgba(0,0,0,0) 70%)">
    {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch ("background.jpg") }}
    {{ $resizedLarge := $imageResource.Fill "1440x600 q80 Top" }}
    {{ $resizedMediumLarge := $imageResource.Fill "1080x600 q80 Top" }}
    {{ $resizedMedium := $imageResource.Fill "996x600 q80 Top" }}
    {{ $resizedSmallMedium := $imageResource.Fill "768x600 q80 Top" }}
    {{ $resizedSmall := $imageResource.Fill "576x600 q80 Top" }}
    {{ $resizedExtraSmall := $imageResource.Fill "384x600 q80 Top" }}
    <picture>
      <source media="(min-width: 1440px)" srcset="{{ $imageResource.RelPermalink }}">
      <source media="(min-width: 1080px)" srcset="{{ $resizedLarge.RelPermalink }}">
      <source media="(min-width: 996px)" srcset="{{ $resizedMediumLarge.RelPermalink }}">
      <source media="(min-width: 768px)" srcset="{{ $resizedMedium.RelPermalink }}">
      <source media="(min-width: 576px)" srcset="{{ $resizedSmallMedium.RelPermalink }}">
      <source media="(min-width: 384px)" srcset="{{ $resizedSmall.RelPermalink }}">
      <img src="{{ $resizedSmall.RelPermalink }}" class="space-background" aria-hidden="true"/>
    </picture>
    
    {{ block "header" . }}{{ partial "header" . }}{{end}}

    {{ block "main" . }}{{end}}

    {{ block "footer" . }}{{ partial "footer" . }}{{end}}

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    {{ $script := .Site.Data.webpack.main }}
    {{ with $script.js }}
      <script src="{{ relURL . }}"></script>
    {{ end }}
  </body>
</html>
