<div class="project-card">
  <div class="row">
    <div class="col-lg-4 project-card-banner-container">
      {{ with .Params.banner }}
      {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
      {{ $resizedLarge := $imageResource.Fill "720x384" }}
      {{ $resizedSmall := $imageResource.Fill "384x300" }}
      <picture>
        <source media="(min-width: 996px)" srcset="{{ $resizedSmall.RelPermalink }}">
        <source media="(min-width: 576px)" srcset="{{ $resizedLarge.RelPermalink }}">
        <img class="project-card-banner" src="{{ $resizedSmall.RelPermalink }}" />
      </picture>
      {{ end }}
    </div>
    <div class="col-lg-8 project-card-text">
      <h3>{{ .Params.Title }}</h3>
      <p>{{ .Summary }}</p>
      <a href="{{ .RelPermalink }}" class="project-card-button">read&nbsp;more -></a>
    </div>
  </div>
</div>
