<section class="upmost last">
  <div class="container small-container">
    <div class="section-header">
      <h1>{{ .Params.Title }}</h1>
      <h2>{{ .Params.subtitle }}</h2>
    </div>
    <!--<h3 class="activity-title">Activity</h3>
    
    <object type="image/svg+xml" data="https://raw.githack.com/castortut/cave-activity-map/website/kartta.svg" style="max-width: 100%"></object>-->
   
    <h3 class="location-title">Location</h3>
    <div class="map-container">
      <img src="/img/clubroom.svg"/>
    </div>
  </div>
</section>
