$montserrat: 'Montserrat', sans-serif;
$majormonodisplay: 'Major Mono Display', monospace;
$theme-color: #fa5a06;
$black-color: #000;
$black-color-transparent: #000000cc;
$light-color: #aaa;
$white-color-transparent: #ffffffcc;
$white-color: #fff;
