<section class="upmost last">
  <div class="container small-container">
    <div class="section-header">
      <h1>{{ .Params.Title }}</h1>
      <h2>{{ .Params.subtitle }}</h2>
    </div>
    <h3 class="activity-title">Activity</h3>
    <iframe class="form" src="https://share.esav.fi/esa/ad223ee4-a689-449b-af59-7a66b410e7fa/kartta.svg" height="560px" width="512px" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    <h3 class="location-title">Location</h3>
    <div class="map-container">
      <img src="/img/clubroom.svg"/>
    </div>
  </div>
</section>