<div class="project-card">
  <div class="row">
    <div class="col-lg-4 project-card-banner-container">
      {{ with .Params.banner }}
      {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
      {{ $resized := $imageResource.Fill "380x300" }}
      <img class="project-card-banner" src="{{ $resized.RelPermalink }}" />
      {{ end }}
    </div>
    <div class="col-lg-8 project-card-text">
      <h3>{{ .Params.Title }}</h3>
      <p>{{ .Summary }}</p>
      <a href="{{ .RelPermalink }}" class="project-card-button">read&nbsp;more -></a>
    </div>
  </div>
</div>
