.map-container {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 100%;
    width: 100%;
  }
}

.activity-title {
  margin-bottom: 2rem;
}

.location-title {
  margin: 6rem 0 2rem 0;
}