.contact-card {
  text-align: left;
}

.board-section {
  margin-top: 6rem;

  h2 {
    margin-bottom: 6rem;
  }

  .board-card {
    text-align: left;
    border-bottom: 2px solid $white-color;

    h3 {
      margin: 1rem 0;
    }

    p {
      margin-bottom: 1rem;
    }

    &:nth-child(odd) {
      border-right: 2px solid $white-color;
    }

    &:nth-last-child(2), &:last-child {
      border-bottom: none;
    }
  }
}

@media (max-width: 767px) {
  .contact-card {
    text-align: center;
  }

  .board-section {
    margin-top: 6rem;

    .board-card {
      text-align: center;
    }
  }
}